# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
yarn.lock

# Build directory
/public
.DS_Store
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/personal.iml
/.idea/prettier.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
